<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Registrar Novedad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="bordePane">
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">
              <form #form="ngForm" (ngSubmit)="editUser(form)">
                    <ion-item class="border">
                        <ion-label>Hora Inicio</ion-label>
                        <ion-input name="nombres" type="text" [(ngModel)]="hourNovelty.hora_entrada" ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>Hora Fin</ion-label>
                        <ion-input name="nombres" type="text" [(ngModel)]="hourNovelty.hora_salida" ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>Novedades</ion-label>
                        <ion-select okText="Acaptar" cancelText="Cancelar"  [(ngModel)]="hourNovelty.novedades" >
                            <ion-select-option value="CA">CA - Con Almuerzo</ion-select-option>
                            <ion-select-option value="SA">SA - Sin Almuerzo</ion-select-option>
                            <ion-select-option value="NT">NT - No Trabajo</ion-select-option>
                            <ion-select-option value="IN">IN - Incapacidad</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>Alimentos</ion-label>
                        <ion-select okText="Acaptar" cancelText="Cancelar" [(ngModel)]="hourNovelty.alimentacion" >
                            <ion-select-option value="1">1</ion-select-option>
                            <ion-select-option value="2">2</ion-select-option>
                            <ion-select-option value="3">3</ion-select-option>
                            <ion-select-option value="4">4</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>Transporte</ion-label>
                        <ion-input name="nombres" type="number" [(ngModel)]="usuario.transporte" ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>Observaciones</ion-label>
                        <ion-textarea rows="3" [(ngModel)]="usuario.observacion"></ion-textarea>
                    </ion-item>
                  <div padding>
                  <ion-button color="success" type="submit" [disabled]="form.invalid">
                      Guardar
                      <ion-icon slot="end" name="star"></ion-icon>
                  </ion-button>
                  </div>
              </form>
          </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
