<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reporte de horario</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-grid class="bordePane">
      <ion-row>
        <ion-col col-12 class="msgAlert" *ngIf="conexion">
          No estas conectado a internet
        </ion-col>
      </ion-row>
      <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">
              <ion-segment [(ngModel)]="selectedView" color="dark">
                  <ion-segment-button value="registar">
                      <ion-label>Horarios</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="consultar">
                      <ion-label>Novedades</ion-label>
                  </ion-segment-button>
              </ion-segment>
              <div [ngSwitch]="selectedView" color="dark">
                  <div *ngSwitchCase="'registar'">
                          <ion-button color="success" expand="full" (click)="registerHour()" >
                            Sincronizar
                          </ion-button>
                      <ion-item>
                        <ion-label>Fecha</ion-label>
                        <ion-datetime display-format="DD/MM/YYYY" min="2016-01-01" max="2019-12-31" [(ngModel)]="datos.dateSelect" (ionChange)="changed($event)"></ion-datetime> 
                        <!-- <ion-input [(ngModel)]="dateSelect" type="date" placeholder="dd/mm/aa" (ngModelChange) ="doSometing(quantity)" ></ion-input> -->
                      </ion-item>
                      <ion-grid class="table">
                          <ion-row color="dark" class="th" justify-content-center>
                            <ion-col class="tableCol" size="3">
                                Fecha
                            </ion-col>
                            <ion-col class="tableCol" size="4">
                                Encargado
                            </ion-col>
                            <ion-col class="tableCol" size="4">
                                Estado
                            </ion-col>
                            <ion-col class="tableCol" size="1">
                                <ion-icon name="refresh"></ion-icon>
                            </ion-col>
                          </ion-row>
                          <ion-row *ngFor="let hour of arraySelectReport" class="tr">
                              <ion-col class="tableCol" size="3">
                                {{hour.fecha}}
                              </ion-col>
                              <ion-col class="tableCol" size="4">
                                {{hour.creador}}
                              </ion-col>
                              <ion-col class="tableCol" size="4">
                                {{hour.estado}}
                              </ion-col>
                              <ion-col class="tableCol" size="1">
                                <ion-icon  name="refresh" color="success" [routerLink]="['/', 'novelty', hour.usuario_id]" *ngIf="hour.fecha != 'undefined'"></ion-icon>
                              </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-row text-center color="dark" class="footerTable">
                          <ion-col> <ion-icon name="arrow-dropleft" (click)="prevPaginatoRegister()"></ion-icon></ion-col>
                          <span class="tabsCol" *ngFor="let pages of arrayPagMostarRegister; let i=index" (click)="tabTableRegister(pages - 1)">
                            <span *ngIf="i < 5">
                              <p class="itemPaginador">{{pages}}</p>
                            </span>
                          </span>
                          <ion-col><ion-icon name="arrow-dropright" (click)="nextPaginatorRegister()"></ion-icon></ion-col>
                        </ion-row>
                  </div>
                  <!-- ----------------------------------------------------------------------------- -->
                  <!-- pestaña Consultar  -->
                  <!-- ----------------------------------------------------------------------------- -->
                  <div *ngSwitchCase="'consultar'">
                      <ion-button color="success" expand="full" (click)="registerHour()" >
                          + Horario
                        </ion-button>
                      <ion-item>
                          <ion-label>Fecha</ion-label>
                          <!--<ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="datos.dateSelect" (ionChange)="changed($event)"></ion-datetime> -->
                          <ion-input [(ngModel)]="datos.dateSelect" type="date" placeholder="dd/mm/aa" (ngModelChange) ="changed2($event)" ></ion-input>
                      </ion-item>
                      <ion-item>
                          <!-- Searchbar with a cancel button and custom cancel button text -->
                          <ion-searchbar [(ngModel)]="searchTerm"   (ionInput)="setFilteredItems()"></ion-searchbar>
                      </ion-item>
                      <ion-grid class="table">
                          <ion-row color="dark" class="th" justify-content-center>
                              <ion-col class="tableCol" size="1">
                                #
                              </ion-col>
                              <ion-col class="tableCol" size="4">
                                Nombres
                              </ion-col>
                              <ion-col class="tableCol" size="4">
                                Frente.
                              </ion-col>
                              <ion-col class="tableCol" size="3">
                                Acciones.
                              </ion-col>
                          </ion-row>
                          <ion-row *ngFor="let hour of arraySelect" class="tr">
                              <ion-col class="tableCol" size="1">
                                {{hour.id}}
                              </ion-col>
                              <ion-col class="tableCol" size="4">
                                {{hour.nombres}}l
                              </ion-col>
                              <ion-col class="tableCol" size="4">
                                {{hour.apellidos}}
                              </ion-col>
                              <ion-col class="tableCol" size="3" *ngIf="hour.nombres != 'undefined'">
                                <ion-icon  name="refresh" color="success" [routerLink]="['/', 'novelty', hour.usuario_id]" *ngIf="hour.nombres != 'undefined'"></ion-icon>
                              </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-row text-center color="dark" class="footerTable">
                            <ion-col> <ion-icon name="arrow-dropleft" (click)="prevPaginator()"></ion-icon></ion-col>
                            <span class="tabsCol" *ngFor="let pages of arrayPagMostar; let i=index" (click)="tabTable(pages - 1)">
                                <span *ngIf="i < 5">
                                    <p class="itemPaginador">{{pages}}</p>
                                </span>
                            </span>
                          <ion-col><ion-icon name="arrow-dropright" (click)="nextPaginator()"></ion-icon></ion-col>
                        </ion-row>
                  </div>
              </div>
            <!-- <div *ngIf="searching" class="spinner-container">
              <ion-spinner></ion-spinner>
             </div> -->
          </ion-col>
          <!-- tabla -->
        <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">
            
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid class="bordePane">
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
