.msgAlert {
    background-color: #e04242;
    color: #fff;
}

.th {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 1;
    background-color: #000;
    color: #fff;
    font-size: 12px;
}
.tr {
    font-size: 10px;
}

.tr:nth-child(even){background-color: #f2f2f2;}

.tr:hover {background-color: #ddd;}

.footerTable { background-color: #000; color: #ddd}

.itemPaginador {
    color: #fff;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid rgba(221, 221, 221, 0.342);
    background-color: rgba(221, 221, 221, 0.034);
}

.footerTable ion-icon {
    font-size: 50px;
}

.tableCol ion-icon {
    font-size: 20px;
}