.textFFF {
    color: #fff;
}

.textGreen{
    color: #1a4424;
}

.active-item {
    border-left: 8px solid var(--ion-color-dark);
}

.imgMenu {
    max-width: 32px;
}

.listMenu {
 position: relative !important;
}

//anchoo menu 
.split-pane-md.split-pane-visible > .split-pane-side {
    min-width: 200px;
    max-width: 20%;
}

//header 
.toolbar-title-md{
    color: #FFF;
}

.toolbar-background-ios {
    background-color: #000000;
}

.toolbar-title-ios {
    color: #FFF; 
}

.toolbar-background-md{
    background-color: #000000;
}

//label menu

.menu-inner .item-md  {
    color: #fff;
    background-color: #222d31;
}

.menu-inner .item-ios{
    color: #fff;
    background-color: #222d31;
}

.listMenu .list-md .item-block .item-inner {
    border-bottom: 1px solid #222d30;
}

.listMenu .list-ios .item-block .item-inner {
    border-bottom: 0.55px solid #222d30;
}

//header menu

ion-header{
    background-color: #000000;
}

//perfil usuario en el menu
.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: #222d32;
}

.pull-left {
    float: left!important;
}

.skin-green .user-panel>.info, .skin-green .user-panel>.info>a {
    color: #fff;
}
.user-panel>.info {
    padding: 1px 5px 5px 15px;
    line-height: 1;
   // position: absolute;
    left: 55px;
    margin-top: -10px;
}

.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}
.img-circle {
    border-radius: 50%;
}

.user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
}

//Submenu

.submenu{
    display: none;
    padding-left: 40px;
    padding-right: 10px;
}

.showMenu{
    display: block;
}

//Footer menu

ion-footer{
    background-color: #000000;
    color: #ffffff;
}

//contenedor de la pagina
.scroll-content {
    background-color: #ecf0f5;
}