<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header color="dark">
      <ion-row padding>
        <ion-col text-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              <img src="./assets/imgs/logo.png">
          </ion-col>
      </ion-row>
      <ion-row menuClose class="user-panel" (click)="editProfile()">
        <div class="pull-left image">
          <img src="{{photo_new}}" class="img-circle" alt="User">
        </div>
        <div class="pull-left info">
          <p class="textFFF">{{usuario.nombres}} {{usuario.apellidos}}</p>
          <!-- Status -->
          <a href="#" class="textGreen"> En línea</a>
        </div>
      </ion-row>
      <ion-toolbar>
        <ion-title>
          Menu
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-item tappable routerLink="/login" routerDirection="root" (click)="loguot()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>