<ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Perfil</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="changePass()">
          <ion-icon name="lock"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid class="bordePane">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">
            <div class="divImgPerfil">
                <ion-img [src]="photo_new" class="imgProfile"></ion-img>
            </div>
            <div class="texto-encima">
                <a (click)="presentAlertConfirm()">Cambiar imagen</a>
            </div>
            <ion-segment [(ngModel)]="selectedView" color="dark">
                <ion-segment-button value="basic">
                    <ion-label>Basicos</ion-label>
                </ion-segment-button>
                <ion-segment-button value="nomina">
                    <ion-label>Nomina</ion-label>
                </ion-segment-button>
            </ion-segment>
            <div [ngSwitch]="selectedView" color="dark">
                <div *ngSwitchCase="'basic'">
                    <form #form="ngForm" (ngSubmit)="editUser(form)">
                        <ion-item class="border">
                            <ion-label>Nombres</ion-label>
                            <ion-input name="nombres" type="text" placeholder="name" [(ngModel)]="usuario.nombres" ></ion-input>
                        </ion-item>
                        <ion-item class="border">
                            <ion-label>Apellidos</ion-label>
                            <ion-input name="apellidos" type="text" placeholder="Apellidos" [(ngModel)]="usuario.apellidos"  ></ion-input>
                        </ion-item>
                        <ion-item class="border">
                            <ion-label stacked>tipo identificación</ion-label>
                            <ion-select placeholder="Seleccione">
                                <ion-select-option value="f">Cedula</ion-select-option>
                                <ion-select-option value="m">Pasaporte</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item class="border">
                            <ion-label>Numero de identificación</ion-label>
                            <ion-input name="identificacion" type="text" placeholder="0000000" [(ngModel)]="usuario.identificacion"  ></ion-input>
                        </ion-item>
                        <ion-item class="border">
                            <ion-label>Email</ion-label>
                            <ion-input name="email" type="text" placeholder="mail@mail.com" [(ngModel)]="usuario.email"  ></ion-input>
                        </ion-item>
                        <ion-item class="border">
                            <ion-label>Teléfono</ion-label>
                            <ion-input name="telefono" type="text" placeholder="00000000" [(ngModel)]="usuario.telefono"  ></ion-input>
                        </ion-item>
                        <ion-item class="border">
                            <ion-label>Celular</ion-label>
                            <ion-input name="celular" type="text" placeholder="00000000"  [(ngModel)]="usuario.celular" ></ion-input>
                        </ion-item>
                        <ion-item class="border">
                            <ion-label>Direccion</ion-label>
                            <ion-input name="direccion" type="text" placeholder="00000000"  [(ngModel)]="usuario.direccion" ></ion-input>
                        </ion-item>
                        <ion-item class="border">
                            <ion-label>Barrio</ion-label>
                            <ion-input name="barrio" type="text" placeholder="00000000"  [(ngModel)]="usuario.barrio" ></ion-input>
                        </ion-item>
                        <ion-item class="border">
                            <ion-label>Ciudad</ion-label>
                            <ion-input name="ciudad_id" type="text" placeholder="00000000"  [(ngModel)]="usuario.ciudad_id" ></ion-input>
                        </ion-item>
                        <ion-item class="border">
                            <ion-label>Cumpleanos</ion-label>
                            <ion-input name="cumpleanos" type="text" placeholder="00000000"  [(ngModel)]="usuario.cumpleanos" ></ion-input>
                        </ion-item>
                        <ion-item class="border">
                            <ion-label>Genero</ion-label>
                            <ion-input name="genero" type="text" placeholder="00000000"  [(ngModel)]="usuario.genero" ></ion-input>
                        </ion-item>
                        <div padding>
                        <ion-button color="success" type="submit" [disabled]="form.invalid">
                            Guardar
                            <ion-icon slot="end" name="star"></ion-icon>
                        </ion-button>
                        </div>
                    </form>
                </div>
                <div *ngSwitchCase="'nomina'">
                    <ion-item class="border">
                        <ion-label>nomina</ion-label>
                        <ion-input name="nomina" type="text" placeholder="00000000" [(ngModel)]="usuario.nomina"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>Eps</ion-label>
                        <ion-input name="eps_id" type="text" placeholder="00000000" [(ngModel)]="usuario.eps_id"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>Arl</ion-label>
                        <ion-input name="arl_id" type="text" placeholder="00000000" [(ngModel)]="usuario.arl_id"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>Afp</ion-label>
                        <ion-input name="afp_id" type="text" placeholder="00000000" [(ngModel)]="usuario.afp_id"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>ccf</ion-label>
                        <ion-input name="ccf_id" type="text" placeholder="00000000" [(ngModel)]="usuario.ccf_id"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>sueldo_real</ion-label>
                        <ion-input name="sueldo_real" type="text" placeholder="00000000" [(ngModel)]="usuario.sueldo_real"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>bonificacion</ion-label>
                        <ion-input name="bonificacion" type="text" placeholder="00000000" [(ngModel)]="usuario.bonificacion"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>tipo_cuenta</ion-label>
                        <ion-input name="tipo_cuentav" type="text" placeholder="00000000" [(ngModel)]="usuario.tipo_cuenta"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>banco_id</ion-label>
                        <ion-input name="banco_id" type="text" placeholder="00000000" [(ngModel)]="usuario.banco_id"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>cuenta</ion-label>
                        <ion-input name="cuenta" type="text" placeholder="00000000" [(ngModel)]="usuario.cuenta"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>fecha_ingreso</ion-label>
                        <ion-input name="fecha_ingreso" type="text" placeholder="00000000" [(ngModel)]="usuario.fecha_ingreso"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>fecha_retiro</ion-label>
                        <ion-input name="fecha_retiro" type="text" placeholder="00000000" [(ngModel)]="usuario.fecha_retiro"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>empresa_id</ion-label>
                        <ion-input name="empresa_id" type="text" placeholder="00000000" [(ngModel)]="usuario.empresa_id"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>cargo</ion-label>
                        <ion-input name="cargo" type="text" placeholder="00000000" [(ngModel)]="usuario.cargo"  ></ion-input>
                    </ion-item>
                    <ion-item class="border">
                        <ion-label>frenteobra_id</ion-label>
                        <ion-input name="frenteobra_id" type="text" placeholder="00000000" [(ngModel)]="usuario.frenteobra_id"  ></ion-input>
                    </ion-item>
                </div>
            </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
