.imgProfile {
    background-color: rgb(104, 132, 156);
    width: 310px;
    height: 250px;
    max-width: 310px !important;
    max-height: 250px !important;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.texto-encima {
    width: 310px;
    background-color: black;
    color:  rgb(2, 2, 2);
    margin: 0 auto;
}

.texto-encima a {
    text-align: center;
    color: rgb(255, 255, 255);
}