<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reporte de acarreo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="bordePane">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">
            <ion-segment [(ngModel)]="selectedView" color="dark">
                <ion-segment-button value="registar">
                    <ion-label>Registrar</ion-label>
                </ion-segment-button>
                <ion-segment-button value="consultar">
                    <ion-label>Consultar</ion-label>
                </ion-segment-button>
            </ion-segment>
            <div [ngSwitch]="selectedView" color="dark">
                <div *ngSwitchCase="'registar'">
                    <form #form="ngForm" (ngSubmit)="addAccareo(form)">
                        <ion-item>
                          <ion-label position="stacked">Fecha</ion-label>
                          <ion-input [(ngModel)]="datos.fecha" type="date" placeholder="dd/mm/aa"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="stacked">chequeador</ion-label>
                          <ion-select placeholder="Select One">
                            <ion-select-option value="1">JENNY PAOLA</ion-select-option>
                            <ion-select-option value="2">BRAYAN ALEXIS</ion-select-option>
                          </ion-select>
                        </ion-item>
                        <ion-item>
                          <ion-label position="stacked">Placa</ion-label>
                          <ion-select placeholder="Select One">
                            <ion-select-option value="f">ERD 231</ion-select-option>
                            <ion-select-option value="m">RES 651</ion-select-option>
                            <ion-select-option value="f">PIR 332</ion-select-option>
                            <ion-select-option value="m">WOR 642</ion-select-option>
                          </ion-select>
                        </ion-item>
                        <ion-item>
                          <ion-label position="stacked">Chofer</ion-label>
                          <ion-select placeholder="Select One">
                            <ion-select-option value="1">ANTONIO RIVAS</ion-select-option>
                            <ion-select-option value="2">EDWIN TORRES</ion-select-option>
                          </ion-select>
                        </ion-item>
                        <ion-item>
                          <ion-label position="stacked">Pala</ion-label>
                          <ion-input [(ngModel)]="datos.pala" placeholder="pala"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="stacked">Cubicaje</ion-label>
                          <ion-input [(ngModel)]="datos.cubicaje" type="number" max="10" placeholder="1"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">hora inicio</ion-label>
                            <ion-datetime display-format="hh:mm" [(ngModel)]="datos.hora_inicio" (ionChange)="changedhourInit($event)"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">hora fin</ion-label>
                            <ion-datetime display-format="hh:mm" [(ngModel)]="datos.hora_fin" (ionChange)="changedhourFinit($event)"></ion-datetime>
                        </ion-item>
                        <ion-item>
                          <ion-label position="stacked">Viajes</ion-label>
                          <ion-input [(ngModel)]="datos.viajes" type="text" placeholder="1"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="stacked">Cantidad de viajes</ion-label>
                          <ion-input [(ngModel)]="datos.cantidad_de_viajes" type="number" max="10" placeholder="1"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="stacked">Metros cubicos</ion-label>
                          <ion-input [(ngModel)]="datos.metroscubicos" type="number" max="10" placeholder="1"></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label position="stacked">Observaciones</ion-label>
                          <ion-input [(ngModel)]="datos.observaciones" type="text"  placeholder="Ninguna"></ion-input>
                        </ion-item>
                        <div padding>
                            <ion-button color="success" type="submit" [disabled]="form.invalid">
                                Guardar
                                <ion-icon slot="end" name="star"></ion-icon>
                            </ion-button>
                        </div>
                    </form>
                </div>
                <div *ngSwitchCase="'consultar'">
                    <ion-item>
                      <ion-label>Fecha</ion-label>
                        <!--<ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="datos.dateSelect" (ionChange)="changed($event)"></ion-datetime> -->
                        <ion-input [(ngModel)]="dateSelect" type="date" placeholder="dd/mm/aa" (ngModelChange) ="doSometing(quantity)" ></ion-input>
                      </ion-item>
                      <ion-item>
                        <!-- Searchbar with a cancel button and custom cancel button text -->
                        <ion-searchbar [(ngModel)]="searchTerm"   (ionInput)="setFilteredItems()"></ion-searchbar>
                      </ion-item>
                      <ion-grid class="table">
                          <ion-row color="dark" class="th" justify-content-center>
                            <ion-col class="tableCol" size="1">
                              #
                            </ion-col>
                            <ion-col class="tableCol" size="4">
                              Nombres
                            </ion-col>
                            <ion-col class="tableCol" size="4">
                              Frente.
                            </ion-col>
                            <ion-col class="tableCol" size="3">
                              Acciones.
                            </ion-col>
                          </ion-row>
                          <ion-row *ngFor="let hour of arraySelect" class="tr">
                              <ion-col class="tableCol" size="1">
                                {{hour.id}}
                              </ion-col>
                              <ion-col class="tableCol" size="4">
                                {{hour.nombres}}
                              </ion-col>
                              <ion-col class="tableCol" size="4">
                                {{hour.apellidos}}
                              </ion-col>
                              <ion-col class="tableCol" size="3" *ngIf="hour.emai != 'undefined'">
                                <ion-icon (click)="presentAlertPrompt(hour)" name="create" color="success"></ion-icon>
                                <ion-icon (click)="presentAlertPrompt(hour)" name="clipboard" color="danger"></ion-icon>
                              </ion-col>
                          </ion-row>
                        </ion-grid>
                        <ion-row text-center color="dark" class="footerTable">
                          <ion-col> <ion-icon name="arrow-dropleft"></ion-icon></ion-col>
                          <span class="tabsCol" *ngFor="let salidas of newArray; let i=index" (click)="tabTable(i)">
                            <span *ngIf="i < 5">
                              <p class="itemPaginador">{{i + 1}} </p>
                            </span>
                          </span>
                          <ion-col><ion-icon name="arrow-dropright"></ion-icon></ion-col>
                        </ion-row>
                </div>
            </div>
        </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>