<ion-header>
    <ion-toolbar >
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Ordenes de trabajo</ion-title>
    </ion-toolbar>
</ion-header>
      
<ion-content>
    <ion-grid class="bordePane">
    <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">
            <ion-segment [(ngModel)]="selectedView" color="dark">
                <ion-segment-button value="registar">
                    <ion-label>Registrar</ion-label>
                </ion-segment-button>
                <ion-segment-button value="consultar">
                    <ion-label>Consultar</ion-label>
                </ion-segment-button>
            </ion-segment>
            <div [ngSwitch]="selectedView" color="dark">
                <div *ngSwitchCase="'registar'">
                        <title>{{data.frente_obra}}</title>
                        <form #form="ngForm" (ngSubmit)="editUser(form)">
                                <ion-item>
                                    <ion-label>Fecha</ion-label>
                                    <ion-datetime displayFormat="DD de MMMM de YYYY, DDDD" placeholder="Select fecha" [(ngModel)]="datos.date"  (ngModelChange)="changeDate($event)"></ion-datetime>
                                </ion-item>
                                <ion-item class="border">
                                        <ion-label>Equipo/placa</ion-label>                           
                                        <ion-input [(ngModel)]="datos.equipoPlaca" type="text" placeholder="Equipo/placa"></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Operador</ion-label> 
                                    <ion-input [(ngModel)]="datos.operador" type="text" placeholder="Operador"></ion-input>
                                </ion-item>
                                <ion-item>
                                        <ion-label>Hora entrada</ion-label>
                                        <ion-datetime displayFormat="h:mm a" [(ngModel)]="datos.horaentrada"  placeholder="0:00 m"></ion-datetime>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Hora salida</ion-label>
                                    <ion-datetime displayFormat="h:mm a" [(ngModel)]="datos.horasalida"  placeholder="0:00 m"></ion-datetime>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Hora inicial</ion-label>
                                    <ion-datetime displayFormat="h:mm a" [(ngModel)]="datos.horainicial"  placeholder="0:00 m"></ion-datetime>
                                </ion-item>
                                <ion-item>
                                    <ion-label>Hora final</ion-label>
                                    <ion-datetime displayFormat="h:mm a" [(ngModel)]="datos.horafinal"  placeholder="0:00 m"></ion-datetime>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Tiempo descuento</ion-label> 
                                    <ion-input [(ngModel)]="datos.tiempoDescuento" type="text" placeholder="Tiempo descuento"></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Total Horas</ion-label> 
                                    <ion-input [(ngModel)]="datos.totalHoras" type=" text" placeholder="0" ></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Diesel surtido</ion-label> 
                                    <ion-input [(ngModel)]="datos.dieselSurtido" type=" text" placeholder="0" ></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>No. viajes</ion-label> 
                                    <ion-input [(ngModel)]="datos.noViajes" type=" text" placeholder="0" ></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Costo Diesel</ion-label> 
                                    <ion-input [(ngModel)]="datos.costoDiesel" type=" text" placeholder="0" placeholder="0"></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Material</ion-label> 
                                    <ion-input [(ngModel)]="datos.material" type=" text" placeholder="Material"></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Fuente</ion-label> 
                                    <ion-input [(ngModel)]="datos.fuente" type=" text" placeholder="Material"></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Destino</ion-label> 
                                    <ion-input [(ngModel)]="datos.destino" type=" text" placeholder="Destino"></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Observaciones</ion-label>
                                    <ion-textarea rows="3" [(ngModel)]="datos.observaciones"></ion-textarea>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Aceptado por</ion-label> 
                                    <ion-input [(ngModel)]="datos.aceptado" type=" text" placeholder="Responsable"></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Factura</ion-label> 
                                    <ion-input [(ngModel)]="datos.factura" type=" text" placeholder="factura"></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Cheque</ion-label> 
                                    <ion-input [(ngModel)]="datos.cheque" type=" text" placeholder="cheque"></ion-input>
                                </ion-item>
                                <ion-item class="border">
                                    <ion-label>Valor</ion-label> 
                                    <ion-input [(ngModel)]="datos.valor" type=" text" placeholder="0"></ion-input>
                                </ion-item>
                                <div padding>
                                    <ion-button color="success" type="submit" [disabled]="form.invalid">
                                        Guardar
                                        <ion-icon slot="end" name="star"></ion-icon>
                                    </ion-button>
                                </div>
                            </form>
                </div>
                <div *ngSwitchCase="'consultar'">
                        <ion-item>
                                <ion-label>Fecha</ion-label>
                                <!--<ion-datetime display-format="MMM DD, YYYY" [(ngModel)]="datos.dateSelect" (ionChange)="changed($event)"></ion-datetime> -->
                                <ion-input [(ngModel)]="dateSelect" type="date" placeholder="dd/mm/aa" (ngModelChange) ="doSometing(quantity)" ></ion-input>
                              </ion-item>
                              <ion-item>
                                <!-- Searchbar with a cancel button and custom cancel button text -->
                                <ion-searchbar [(ngModel)]="searchTerm"   (ionInput)="setFilteredItems()"></ion-searchbar>
                              </ion-item>
                              <ion-grid class="table">
                                  <ion-row color="dark" class="th" justify-content-center>
                                    <ion-col class="tableCol" size="1">
                                      #
                                    </ion-col>
                                    <ion-col class="tableCol" size="4">
                                      Nombres
                                    </ion-col>
                                    <ion-col class="tableCol" size="4">
                                      Frente.
                                    </ion-col>
                                    <ion-col class="tableCol" size="3">
                                      Acciones.
                                    </ion-col>
                                  </ion-row>
                                  <ion-row *ngFor="let hour of arraySelect" class="tr">
                                      <ion-col class="tableCol" size="1">
                                        {{hour.id}}
                                      </ion-col>
                                      <ion-col class="tableCol" size="4">
                                        {{hour.nombres}}
                                      </ion-col>
                                      <ion-col class="tableCol" size="4">
                                        {{hour.apellidos}}
                                      </ion-col>
                                      <ion-col class="tableCol" size="3" *ngIf="hour.emai != 'undefined'">
                                        <ion-icon (click)="presentAlertPrompt(hour)" name="create" color="success"></ion-icon>
                                        <ion-icon (click)="presentAlertPrompt(hour)" name="clipboard" color="danger"></ion-icon>
                                      </ion-col>
                                  </ion-row>
                                </ion-grid>
                                <ion-row text-center color="dark" class="footerTable">
                                  <ion-col> <ion-icon name="arrow-dropleft"></ion-icon></ion-col>
                                  <span class="tabsCol" *ngFor="let salidas of newArray; let i=index" (click)="tabTable(i)">
                                    <span *ngIf="i < 5">
                                      <p class="itemPaginador">{{i + 1}} </p>
                                    </span>
                                  </span>
                                  <ion-col><ion-icon name="arrow-dropright"></ion-icon></ion-col>
                                </ion-row>
                </div>
            </div>
            <!-- <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
            </div> -->
        </ion-col>
        <!-- tabla -->
        <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">
            
        </ion-col>
    </ion-row>
    </ion-grid>
    
    <ion-grid class="bordePane">
        <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="8" size-lg="8" size-xs="12">
        </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
      