
.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

.pick-avatar {
    width: 80px;
    opacity: 0.3;
}

.pick-avatar-seleccionado {
    transition: opacity 0.5s linear;
    opacity: 1 !important;
}

ion-content {
    background: url('../../../assets/imgs/background.jpg');
    --background: var(--ion-background-color,rgba(255, 255, 255, 0));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//Imputs
ion-item {
    background-color: RGBA(255,255,255,0);
}

.item-ios{
    background-color: RGBA(255,255,255,0);
}

ion-input {
    border-bottom: 1px solid 
}


.bordePane {
    width: 100%;
    height: 100%;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.562);
}