
 
<ion-content >
  <!-- <ion-button expand="block" routerLink="/menu/first">Login</ion-button> -->
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid class="bordePane">
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <img src="./assets/imgs/logo.png">
          </div>
          <div padding>
              <ion-input name="identification" type="text" placeholder="identificación" ngModel required></ion-input>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
          </div>
          <div padding>
            <ion-button color="success" type="submit" [disabled]="form.invalid">
              Iniciar sesión
              <ion-icon slot="end" name="star"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>