<ion-header>
  <ion-toolbar>
    <ion-title>
      Grupo C2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Bienvenido al grupo C2.
    <p></p>
  </div>
  
</ion-content>
